html{
    font:400 18px/1.555 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0;
}
body>div{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
}
.instagram-feed {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    line-height: 18px;
    font-weight: 400;
    overflow: hidden !important;
    width: 100%;
    max-height: 100%;
    position: relative;
    box-sizing: border-box;
    min-width: 150px;
    min-height: 100px;
}
#instagram-feed-1 {
    width: 500px;
}
#instagram-feed-1 .instagram-feed-posts-item, #instagram-feed-1 .instagram-feed-posts-item-content, #instagram-feed-1 .instagram-feed-posts-item-text, #instagram-feed-1 .instagram-feed-posts-item a, #instagram-feed-1 .instagram-feed-posts-item a:hover {
	color: rgb(255, 255, 255);
}
#instagram-feed-1 .instagram-feed-posts-item-overlay {
	background: rgba(33, 150, 243, 0.9);
}
#instagram-feed-1 .instagram-feed-posts-slider-nav {
	background: rgba(255, 255, 255, 0.9);
}
#instagram-feed-1 .instagram-feed-posts-item-image-icon, #instagram-feed-1 .instagram-feed-posts-slider-nav-icon {
	fill:#ED0012;
}
.instagram-feed-container {
    width: 100%;
}
.instagram-feed-content{
    position: relative;
    width: 100%;
}
.instagram-feed-posts-container{
    width: 100%;
}
.instagram-feed {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	line-height: 18px;
	font-weight: 400;
}
.instagram-feed a {
	text-decoration: none;
	color: #000;
}
.instagram-feed-title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	line-height: 32px;
	padding: 24px 10px 10px;
}
.instagram-feed-title a{
	display: inline-flex;
	padding-top: 10px;
}
.instagram-feed-title img{
	position: relative;
	max-height: 25px;
	bottom: 0px;
	margin-right: 5px;
	margin-top: 6px;
}
.instagram-slider {
	position: relative;
	height: 100%;
	user-select: none;
	overflow: hidden;
}
.instagram-feed-posts {
	width: 100%;
}
.instagram-feed a {
	text-decoration: none;
	color: #000;
}
.instagram-feed-posts-slider {
	position: relative;
	height: auto;
	user-select: none;
	cursor: -webkit-grab;
	cursor: grab;
	width: 100%;
}
.instagram-slider-inner {
	z-index: 1;
	position: relative;
	height: 100%;
	display: flex;
	transition-property: transform;
}
.instagram-feed-posts-inner {
	box-sizing: border-box;
	position: relative;
}
.instagram-feed-posts-slider-inner {
	z-index: 1;
	position: relative;
	height: auto;
	display: flex;
	width: 100%;
}
.instagram-slider-slide {
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	flex-grow: 1;
	flex-shrink: 0;
}
.instagram-feed-posts-view {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	height: auto;
}
.instagram-feed-posts-view.instagram-slider-slide {
	display: inline-flex;
	width: 100%;
	height: auto;
}
.instagram-feed-posts-item {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	background: #fff;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	flex-grow: 0;
	flex-shrink: 0;
}
.instagram-feed-posts-item a, .instagram-feed-posts-item a:hover {
	color: #003569;
}
.instagram-feed-posts-item-visible.instagram-feed-posts-item-loaded {
	opacity: 1;
	visibility: visible;
}
.instagram-feed-posts-item-link {
	cursor: pointer;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-link {
	width: 100%;
	box-sizing: border-box;
	display: flex;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-media {
	width: 100%;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-overlay {
	position: absolute;
	z-index: 2;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.3s, visibility 0.3s;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
}
.instagram-feed-posts-item:hover.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-overlay {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	padding-top: 0;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-image {
	transition: transform 0.3s ease, filter 0.3s;
	left: 50%;
	transform: scale(1) translate(-50%, -50%);
	transform-origin: 0 0;
	backface-visibility: hidden;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-content {
	transform: translateY(10%);
	width: 80%;
	max-height: 80%;
	margin: 0 auto;
	position: relative;
	transition: 0.3s all ease;
}
.instagram-feed-posts-item:hover.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-content {
	transform: translateY(0);
}
.instagram-feed-posts-item-image-wrapper {
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	margin: -1px;
}
.instagram-feed-posts-item-image {
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}
.instagram-feed-posts-item-image-landscape .instagram-feed-posts-item-image {
	height: 100% !important;
	min-width: 100%;
	max-width: inherit !important;
}
.instagram-feed-posts-item-image-icon {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0.6em;
	right: 0.6em;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease;
}
.instagram-feed-posts-item-likes-count, .instagram-feed-posts-item-comments-count {
	display: inline-flex;
	align-items: center;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-likes-count, .instagram-feed-posts-item-template-tile .instagram-feed-posts-item-comments-count {
	min-width: 70px;
	justify-content: center;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-likes-count + .instagram-feed-posts-item-comments-count {
	margin-left: 20px;
}
.instagram-feed-posts-item-likes-count-icon, .instagram-feed-posts-item-comments-count-icon {
	fill: currentColor;
	width: 24px;
	height: 24px;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-likes-count-icon, .instagram-feed-posts-item-template-tile .instagram-feed-posts-item-comments-count-icon {
	width: 24px;
	height: 24px;
}
.instagram-feed-posts-item-likes-count-label, .instagram-feed-posts-item-comments-count-label {
	margin-left: 6px;
	font-size: 14px;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-likes-count-label, .instagram-feed-posts-item-template-tile .instagram-feed-posts-item-comments-count-label {
	font-size: 16px;
}
.instagram-feed-posts-item-template-tile .instagram-feed-posts-item-text {
	font-size: 14px;
	line-height: 21px;
	display: inline-block;
	overflow: hidden;
	margin-top: 12%;
	text-align: center;
	max-height: 84px;
	width: 100%;
}
.instagram-slider-arrow {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.instagram-slider-arrow-enabled {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.instagram-feed-posts-slider-nav {
	background: #000;
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	opacity: 0.85;
	transition: all 0.2s;
	backface-visibility: hidden;
}
.instagram-feed-posts-slider-nav:hover {
	opacity: 1;
}
.instagram-feed-posts-slider-prev {
	left: 0;
	transform: translate3d(-50%, -50%, 0);
	box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
.eapps-instagram-feed-posts-slider-next:active {
	transform: translate3d(-50%, -50%, 0) scale(0.9);
}
.instagram-feed-posts-slider-nav-icon {
	width: 12px;
	height: 16px;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.instagram-feed-posts-slider-prev .instagram-feed-posts-slider-nav-icon {
	right: 12px;
}
.instagram-feed-posts-slider-next {
	right: 0;
	transform: translate(50%, -50%);
	box-shadow: -2px 0 5px rgba(0,0,0,0.3);
}
.instagram-feed-posts-slider-next .instagram-feed-posts-slider-nav-icon {
	left: 12px;
}
.instagram-feed-posts-slider-next:active {
	transform: translate3d(50%, -50%, 0) scale(0.9);
}